body{
    background-image: url("Paper.jpg");
    background-size: cover;
    
}

h1{
    font-family: Apple Chancery, cursive;
    font-size: 750%;
    text-align: center;
    margin: 0px;
    

}
.Listagem{
    text-align: center;
    font-size: larger;
}
#texto{
     height: 30px;
     width: 200px;
     font-family: Apple Chancery, cursive;
     font-size: 20px;
     
}
p{
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    text-align: center;
    margin: 0px;

}
button{
    border-color: blueviolet;
    background-color: blueviolet;
    font-weight: bold;
    height: 30px;
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    text-align: center;
}
