body{
    background-image: url("Paper.jpg");
    background-size: cover;
    
}

h1{
    font-family: Apple Chancery, cursive;
    font-size: 750%;
    text-align: center;
    margin: 0px;

}
.Listagem{
    text-align: center;
}